#stuff not needed for commits

/test*
/bin/src/*/__pycache__/
/bin/*/__pycache__/
/__pycache__
/.ipynb_checkpoints
/notebook/.ipynb_checkpoints
.ipynb_checkpoints
.nextflow*
work
data
.DS_Store
/singularity_cache
/results/
